
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('https://t4.ftcdn.net/jpg/02/71/12/01/360_F_271120192_ZDT2FCxH94akiIsOHwVULWnbNzi8Oagn.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
}
.container {
    max-width: 800px;
    margin: 50px auto;
    /* background: #91387d; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: white;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
label {
    font-weight: bold;
}

#feedback-form{
    color: white;
}
#faculty-review{
    color: white;
}
input, textarea, select, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color:  #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0d300e;
}
#feedback-form{
    padding: 30px;
    border: solid 1px black;
}
.socialbtns, .socialbtns ul, .socialbtns li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
  }
  
  .socialbtns li {
      /* list-style: none outside none; */
      display: inline-block;
  }
  
  .socialbtns .fa {
      width: fit-content;
      height: fit-content;
      color:#202125;
      padding: 9px;
      margin:6px;
      background-color: #FFF;
      border-radius: 50%;
      border: 0.5px solid#202125;;
  }
  .socialbtns .fa:hover {
      color: #FFF;
      background-color:  #202125;
      border: 1px solid  #202125;
      border-radius: 50%;

  }
  .socialbtns li a{
    text-decoration: none;
  }
footer{
    background-color: #202125;
    padding: 5px;
}
#contact{
    background-color: #202125;
    padding: 3px;
}
#faculty-review{
    padding: 10px;
    text-align: center;
}
#contact{
    text-align: center;
    color: white;
}
footer{
    text-align: center;
    color: white;
}
